* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 252);
    color: #000;
    display: block;
   
    font-family: sans-serif;
}

#header-img {
    width:50%;
}

header {
    display: flex;
    align-items: center;
    min-height: 50px;

    background-color: rgb(247, 247, 252);
    justify-content: space-between;
    top: 0;
}

.logo {
    width: 20%;
}

#navbar {
    display: block;
    font-weight: 300;
    width: 50%;
    top: 0;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar ul li {

    list-style: none;
}

#navbar ul li a:hover {
    color: rgb(105, 65, 36);
    border-bottom: 2px solid rgb(105, 65, 36);
}

a {
    color: black;
    font-weight: 300;
    text-decoration: none;
}
main{
    margin: 3% 5%;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    margin:2% 0%;
    padding: 3%;
}

#input_search{
    padding: 5%;
    margin-top: 2%;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
}

#search2{
display: flex;
}


#search2 > button{
    padding: 15%;
    background: #fff;
    border: 2px solid rgb(105, 65, 36);
    border-radius: 5px;
    cursor: pointer;
}



#search2 > button:hover{
    background: rgb(105, 65, 36);
    color: #fff;
}

.content{
    display: flex;
    width: 100%;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.info >h5{
    font-weight: 900;
    padding: 1% 0%;
    font-size: 20px;
    color: rgb(105, 65, 36);
}
.info2 >h5{
    font-weight: 900;
    padding: 1% 0%;
    font-size: 20px;
    color: rgb(105, 65, 36);
}
.content1{
    display: flex;
    flex-direction: row;
    background: #fff;
    margin: 1% 0%;
    border-radius: 10px;
    cursor: pointer;
}
.content1:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.heart{
    padding: 3%;
    color: rgb(105, 65, 36);
    border: 2px solid rgb(105, 65, 36);
    border-radius: 100px;
}
.heart:hover{
background: rgb(105, 65, 36);
color: #fff;
}
.info{
    padding: 5%;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-evenly;
}
.info2{
    padding: 5%;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
}
.info_name{
    font-size: 18px;
    padding: 2% 0%;
    font-weight: 700;
}

.info_location{
    font-weight: 100;
    padding: 2% 0%;
    font-size: 13px;
    color: rgb(121, 121, 121);
}
.description{
    font-size: 12px;
    padding: 3% 0%;
    border-top: 1px solid #808080;
}
.img_description{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main_about{
    display: flex;
    flex-direction: column;
}
.about_company{
    width: 50%;
}

h3{
    padding-bottom: 2%;
    font-size: 30px;
    font-weight: 200;
    color: rgb(105, 65, 36);
}
.company_info{
    text-align: justify;
    text-justify: inter-word;
} 
.about_team{
    padding-top: 5%;
}
.team_info{
    font-weight: 100;
    color: #fff;
}
.team_card{
    display: flex;
    padding-top: 5%;
}
